Repository Consensys/web3signer, pull requests merged in 2023-09, with the labels that each got.

#893 Add eth_signTypedData
  CHANGELOG.md
  core/src/integrationTest/java/tech/pegasys/web3signer/core/jsonrpcproxy/EthSignTypedDataIntegrationTest.java
  core/src/integrationTest/java/tech/pegasys/web3signer/core/jsonrpcproxy/support/EthSignTypedData.java
  core/src/main/java/tech/pegasys/web3signer/core/Eth1Runner.java
  core/src/main/java/tech/pegasys/web3signer/core/service/jsonrpc/handlers/internalresponse/EthSignTypedDataResultProvider.java
  core/src/test/java/tech/pegasys/web3signer/core/service/jsonrpc/EthSignTypedDataResultProviderTest.java
  gradle/versions.gradle
Labels: doc-change-required

#896 Add high watermark to slashing database
  slashing-protection/src/integration-test/java/tech/pegasys/web3signer/slashingprotection/PruningIntegrationTest.java
  slashing-protection/src/main/java/tech/pegasys/web3signer/slashingprotection/dao/DatabaseVersionDao.java
  slashing-protection/src/main/java/tech/pegasys/web3signer/slashingprotection/dao/HighWatermark.java
  slashing-protection/src/main/java/tech/pegasys/web3signer/slashingprotection/dao/MetadataDao.java
  slashing-protection/src/main/resources/migrations/postgresql/V00012__add_highwatermark_metadata.sql
  slashing-protection/src/test/java/tech/pegasys/web3signer/slashingprotection/dao/LowWatermarkDaoTest.java
  slashing-protection/src/test/java/tech/pegasys/web3signer/slashingprotection/dao/MetadataDaoTest.java
Labels: TeamGroot

#907 Prevent signing at or beyond high watermark
  slashing-protection/src/main/java/tech/pegasys/web3signer/slashingprotection/DbSlashingProtection.java
  slashing-protection/src/main/java/tech/pegasys/web3signer/slashingprotection/dao/HighWatermark.java
  slashing-protection/src/main/java/tech/pegasys/web3signer/slashingprotection/interchange/AttestationImporter.java
  slashing-protection/src/main/java/tech/pegasys/web3signer/slashingprotection/interchange/BlockImporter.java
  slashing-protection/src/main/java/tech/pegasys/web3signer/slashingprotection/interchange/InterchangeV5Importer.java
  slashing-protection/src/main/java/tech/pegasys/web3signer/slashingprotection/validator/AttestationValidator.java
  slashing-protection/src/main/java/tech/pegasys/web3signer/slashingprotection/validator/BlockValidator.java
  slashing-protection/src/test/java/tech/pegasys/web3signer/slashingprotection/DbSlashingProtectionTest.java
Labels: TeamGroot

#909 Remove --validator-ids option from watermark-repair subcommand
  CHANGELOG.md
  acceptance-tests/src/test/java/tech/pegasys/web3signer/dsl/signer/runner/CmdLineParamsConfigFileImpl.java
  acceptance-tests/src/test/java/tech/pegasys/web3signer/dsl/signer/runner/CmdLineParamsDefaultImpl.java
  acceptance-tests/src/test/java/tech/pegasys/web3signer/tests/WatermarkRepairSubCommandAcceptanceTest.java
  commandline/src/main/java/tech/pegasys/web3signer/commandline/subcommands/Eth2WatermarkRepairSubCommand.java
Labels: doc-change-required

#908 GET /highWatermark endpoint
  core/src/main/java/tech/pegasys/web3signer/core/Eth2Runner.java
  core/src/main/java/tech/pegasys/web3signer/core/service/http/handlers/HighWatermarkHandler.java
  core/src/main/resources/openapi-specs/eth2/signing/paths/high_watermark.yaml
  core/src/main/resources/openapi-specs/eth2/web3signer.yaml
  slashing-protection/src/main/java/tech/pegasys/web3signer/slashingprotection/DbSlashingProtection.java
  slashing-protection/src/main/java/tech/pegasys/web3signer/slashingprotection/SlashingProtection.java
  slashing-protection/src/main/java/tech/pegasys/web3signer/slashingprotection/dao/MetadataDao.java
  slashing-protection/src/test/java/tech/pegasys/web3signer/slashingprotection/dao/MetadataDaoTest.java
Labels: TeamGroot

#912 Add --set-high-watermark and --remove-high-watermark to watermark-repair subcommand
  CHANGELOG.md
  acceptance-tests/src/test/java/tech/pegasys/web3signer/dsl/signer/WatermarkRepairParameters.java
  acceptance-tests/src/test/java/tech/pegasys/web3signer/dsl/signer/runner/CmdLineParamsConfigFileImpl.java
  acceptance-tests/src/test/java/tech/pegasys/web3signer/dsl/signer/runner/CmdLineParamsDefaultImpl.java
  acceptance-tests/src/test/java/tech/pegasys/web3signer/tests/WatermarkRepairSubCommandAcceptanceTest.java
  acceptance-tests/src/test/java/tech/pegasys/web3signer/tests/keymanager/DeleteKeystoresAcceptanceTest.java
  acceptance-tests/src/test/java/tech/pegasys/web3signer/tests/keymanager/ImportKeystoresAcceptanceTest.java
  acceptance-tests/src/test/resources/slashing/slashingImport_two_entries.json
  commandline/src/main/java/tech/pegasys/web3signer/commandline/subcommands/Eth2WatermarkRepairSubCommand.java
Labels: doc-change-required, TeamGroot
